.main table.cart-table th, .main table.cart-table td, .main .total th {
    font-size: 16px;
    text-align: center;
    border-color: #2F752F;
    color: #169A16;
}

.main .total th {
    font-size: 20px;
}

.main table.cart-table td, .main .total th {
    color: #2F752F;
}

/*.cart-delete-icon {
    color: #696969;
}*/

h1 {
    color: #b3b3b3;
}

td img {
    width: 64px;
    height:64px;
}

ul.order-steps {
    text-align: center;
    outline: none;
    font-size: 15px;
    color: #333;
    margin: 0 0 30px 0;
}

ul.order-steps > li {
    display: inline-block;
    margin: 0 40px;
    list-style: none;
}

ul.order-steps > li > span {
    display: block;
    width: 35px;
    height: 35px;
    margin: 10px auto;
    background: #666;
    color: #fff;
    border-radius: 20px;
    padding: 3px 0;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 0 0 5px #ccc;
}

ul.order-steps > li > span.active {
    background: #0d0d0d;
    box-shadow: 0 0 0 5px #006300, 0 0 40px 0 #00ff00;
}

#proceed, .proceed {
    margin: 10px 10px 20px 0px;
    color: #2F752F;
    background: #0d0d0d;
    border: 1px solid #2F752F;
    padding: 3px 35px;
}

#proceed:hover, .proceed:hover {
    color: #169A16;
    border: 1px solid #169A16;
    box-shadow: 0 0 5px #2F752F;
}

.main table.cart-info th, .main table.cart-info td {
    font-size: 16px;
    text-align: right;
    border-color: transparent;
    color: #169A16;
}

.main .product-order-form form input,
.main .product-order-form form textarea,
.main .product-order-form form select {
    background-color: black;
    border-color: #169A16;
}

.main .product-order-form form input:focus,
.main .product-order-form form textarea:focus,
.main .product-order-form form select:focus{
    box-shadow: 0 0 7px #2F752F;
}

.main .product-order-form label {
    color: #169A16;
}

.main .order-panel .well{
    background: #080808;
    border: 1px solid black;
}

.main .order-panel .panel-heading:hover,
.main .order-success .panel-heading:hover {
    border: none;
}

.main .order-panel .panel-title,
.main .order-panel .panel-heading{
    background-color: black;
    border:none;
}

.main .order-panel .panel-title {
    font-size: 22px;
    color: #2F752F;
    text-decoration: none;
}

.main .order-panel .panel-title:hover {
    color: #2F752F;
}

.main .order-success {
    background-color: #D6E9C6;
    border-color: #D6E9C6;
}

.main .order-success .panel-title {
    color: #3c763d;
    font-weight: bold;
}