body.main {
	font-family: Ubuntu;
	background: #0d0d0d;
}

#top {
	border-bottom: 1px solid #1a1a1a;
}

#uptop .col-md-12 {
	color: #999999;
	margin-top: 10px;
}

a.cart-link,
a.cart-link:hover,
a.cart-link:focus {
	color: #999999;
	text-decoration: none;
}

#uptop .col-md-12 p {
	line-height: 30px;
	margin-left: 20px;
}

#uptop .col-md-12 span {
	line-height: 30px;
	display: inline-block;
	margin-right: 10px;
}

#uptop .col-md-12 span > .badge{
	background: #990000;
	line-height: initial;
}

.main .top-right form {
	display: inline;
}

.main .top-right form select {
	background-color: #0d0d0d;
	border-color: transparent;
	font-size: 15px;
	font-weight: bold;
}

.main .top-right form select:active, .main .top-right form select:focus {
	outline: none;
} 

.main .top-right form select option {
	font-weight: bold;
}

nav {
	background: black !important;
}

.main .navbar-brand,
.main .navbar-nav li a {
    height: 70px;
    padding-top: 0;
}

.main .navbar-brand {
	color: #00ff00 !important;
	line-height: 70px;
	font-size: 40px;
}

.main .navbar-nav li a {
	color: white !important;
	line-height: 70px;
	font-size: 22px;
}

.main .navbar-nav li a:hover {
	border-bottom: 5px solid #00ff00;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.main .navbar-right {
	padding-top: 10px;
}

.dropdown-menu li a{
	background: #080808 !important;
	font-size: 18px;
	line-height: 100px;
	height: 50px;
}

.dropdown-menu {
	background: #080808 !important;
}

.open > .dropdown-menu {
    -webkit-transform: scale(1, 1);
  	transform: scale(1, 1);  
  	opacity:1;
}

.dropdown-submenu {
	position:relative;
}

.dropdown-submenu>.dropdown-menu {
	top:0;
	left:100%;
	background: #1a1a1a !important;
	margin-top:-6px;
	margin-left:-1px;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
}


.dropdown-submenu>.dropdown-menu li a{
	line-height: 40px;
	height: 40px;
	font-size: 16px;
	background: #1a1a1a !important;
}
	
.dropdown-submenu:hover>.dropdown-menu {
	display:block;
}
	
.dropdown-submenu>a:after {
	border-color:transparent;
}
	
.dropdown-submenu:hover>a:after {
	border-left-color:#ffffff;
}

.dropdown-submenu.pull-left {
	float:none;
}
	
.dropdown-submenu.pull-left>.dropdown-menu {
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
}

.main .chat {
	position: fixed;
	width: 302px; 
	height: auto;
	bottom: 0;
	border-radius:10px 10px 0 0;
}

.main .chat .panel-heading {
	background-color: black;
	border: 1px solid #2F752F;
	border-radius:10px 10px 0 0;
}

.main .chat .panel-heading:hover {
	border: 1px solid #169A16;
}

.main .chat .panel-title {
	color: #169A16;
	font-size: 18px;
}

.main .chat .panel-body {
	padding: 0;
}

footer {
	background: black;
}

.footer-panel {
	width: 70px; 
	height: 70px; 
	border-radius: 35px;
}

.footer-panel .panel-body {
	text-align: center;
	font-size: 30px;
	color: #126D12;
}
