#main-carousel.carousel {
    background: black;
    margin-top: 20px;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#main-carousel .carousel-inner{
    height: 400px;
}

#main-carousel .carousel-inner>.active,
#main-carousel .carousel-inner>.next,
#main-carousel .carousel-inner>.prev,
#main-carousel.carousel .item img {
    margin: auto; /* Align slide image horizontally center */
    height: 100%;
}

.main .bs-example{
	margin: 20px;
}

.main .thumbnail,
.main .panel {
	background: #0d0d0d;
	border: 1px solid #0d0d0d;
	margin: 15px;
}

.main .thumbnail {
	height: 395px;
}

.main .thumbnail:hover {
	border: 1px solid #00ff00;
	border-radius: 7px;
	box-shadow: 0 0 15px #00ff00;
	background: #080808;
}

.main .index-panel .panel-heading {
	background: black;
	color: white;
	border: none;
}

.main .panel-heading:hover {
	border-left: 5px solid #00ff00;
	-webkit-transition: 0.1s ease;
	-moz-transition: 0.1s ease;
	-ms-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
}

.main .panel-title {
	font-size: 22px;
	color: white;
	text-decoration: none;
}

.product-pager ul.pagination {
    border: 1px solid #008800;
}

.main .pagination li a {
	background: #101010;
	color: #999999;
	border: none;
}

.main .pagination > li > span,
.main .pagination > li > span:hover {
	background: #101010;
	color:	#007700;
	border: none;
}

.main .pagination li.active a {
	color: #00aa00;
}

.main .pagination li a:hover {
	background: #101010;
	color: #007700;
}

.product-pager .pagination > li > span {
    padding-bottom: 5px;
    padding-top: 5px;
}

.product-pager {
	text-align: center;
}

.product-item{
	width: 100%;
	height: 250px;
	overflow:hidden;
}

.product-item img{
	width: 100%;
	position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.product-description > h3,
.product-description > p {
	color: #b3b3b3;
	text-align: center;
	font-size: 17px;
}

.product-description > h3 {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.main .bank {
	margin-left: 0px;
}

.bank .panel-body {
	background: #050505;
	border: 1px solid black;
	padding: 60px;
}

.bank .panel-body img {
	margin-bottom: 20px;
}

p, .bank-detail {
	color:#b3b3b3;
	font-size: 16px;
}