#product-carousel .carousel-indicators {
  bottom:-150px;
  width: 100%;
  position: initial;
  margin: auto;
}

#product-carousel .carousel-indicators li,
#product-carousel .carousel-indicators li .thumbnail {
  	width: 60px;
  	height: 60px;
  	background: none;
  	border: none;
    overflow: hidden;
}

#product-carousel .thumbnail  {
  background: #0d0d0d;
  border: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -2px;
  left: -2px;
}

#product-carousel .thumbnail:hover  {
  background: #0d0d0d;
  border: none;
  margin: 0px;
  box-shadow: none;
}

#product-carousel .carousel-indicators .active {
  	border: 2px solid #006600;
}

#product-carousel .carousel-inner {
   margin-bottom: 50px;
}

#product-carousel.carousel .item,
#product-carousel.carousel .item.active {
    height: 530px;
    width: 530px;
    overflow: hidden;
}

#product-carousel.carousel .item img {
    margin: auto; /* Align slide image horizontally center */
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.item-carousel .carousel-indicators li div.thumbnail img {
	position: relative;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
  /*vertical-align: center;*/
}

#item-panel.panel {
	background: #1a1a1a;
	border: 1px solid #050505;
  margin-top: 80px;
}

#item-panel .panel-heading {
	background: #0d0d0d !important;
	color: white !important;
	border: none;
}

#item-panel .panel-heading .panel-title {
  text-transform: uppercase;
  font-size: 30px;
}

.price, .p_info {
	border-bottom: 1px solid #999999;
}

.p_detail, .add {
	margin: 30px 0;
}

.p_detail {
	font-size: 18px;
}

.price h2,
.p_detail {
	color:white;
}

.qty_box {
    display: inline-block;
    border: 1px solid #ccc;
    border-right: none;
    color: #333;
    font-size: 15px;
    line-height: 25px;
}

.qty_box > i {
    display: inline-block;
    border-right: 1px solid #ccc;
    text-align: center;
    width: 25px;
    height: 25px;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    background: #F2F2F2;
    float: left;
}

#product-carousel ol.carousel-indicators > li {
    width: 60px;
    height: 60px;
    text-indent: initial;
    border: none;
    border-radius: initial;
}