.thumbnail,
#product-panel.panel {
	background: #0d0d0d;
	border: none;
	margin: 15px;
}

.product-panel > .panel-heading {
	background: black !important;
	color: white !important;
	border-left: 5px solid #00ff00 !important;
	border-bottom: none;
}

.panel-title:hover {
	color: white;
	text-decoration: none;
}

#pagination {
	background: #0d0d0d !important;
}

a.product-link {
	display: block;
}

/*.product-link::hover,*/ 
.product-link:hover{
	text-decoration: none; 
}